<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download eBook</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
            background-color:rgb(255 241 196);
           
        }
        .container {
            background:rgb(255 241 196);
            padding: 20px;
            max-width: 400px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            

        }
        img {
            background-color:rgb(255 241 196);
            width: 60%;
            border-radius: 10px;
            
        }
        h1 {
            font-size: 24px;
            margin: 20px 0;
        }
        p {
            color: #555;
        }
        .download-btn {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #eb8b3d;
            color: rgb(255 241 196);
            text-decoration: none;
            border-radius: 10px;
            border: width 80px;
            font-size: 18px;
        }
        .download-btn:hover {
            background-color: rgb(255 241 196)2;
        }
    </style>
     
<body>
    <%- include('./partials/layout') %> 
    <main class="flex-1 ml-20 p-8">
    <div class="container">
        <img src="./images/download.png"  class="w-40 h-auto  ">

        <h1>Looks like you have not downloaded anything</h1>
        <h1>Download Your Free eBook</h1>
        <p>Discover insights and strategies in this exclusive eBook. Click the button below to download.</p>
        <button type="submit"
                        class="w-full bg-primary text-white py-3 rounded hover:bg-primary/90">
                        <a href="./category">Download Now</a>
                    </button>
    </div>
</body>
</html>
